<!DOCTYPE html>
<html lang="<%= lang.lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="https://www.stib-mivb.be/irj/go/km/docs/WEBSITE_RES/Webresources/Frontend/build/images/favicon.ico">
    <title><%= lang.admin_dashboard_title %></title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboard.css">

    <!-- Fonts | Emotes -->
	<script defer src="https://use.fontawesome.com/releases/v6.4.2/js/all.js"></script>

    <!-- JS -->
	<script src="/js/navbar-current-tab.js"></script>
    <script src="/js/dashboard.js"></script>

    <!-- For Bootstrap Modals : jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <%- include ('../partials/navbar') -%>

    <div class="title_division">
        <img src="https://www.stib-mivb.be/irj/go/km/docs/WEBSITE_RES/Webresources/Frontend/build/images/pattern-white.png">
        <h1 class="container"><%= lang.admin_dashboard_title %></h1>
        <h2 class="container"><%= lang.vehicle_positions_title %> (<%= lang.vehicle_positions_subtitle %>)</h2>
    </div>

    <main class="container">
        <p><%= lang.vehicle_positions_description %></p>
        
        <div class="general-buttons">
            <button type="button" class="btn btn-primary" onclick="displayInsertModal('Will be created')"><i class="fa-solid fa-plus"></i> Insert new data/row</button>
            <button type="button" class="btn btn-danger" onclick="deleteAllData()"><i class="fa-solid fa-trash"></i> Delete all data</button>
        </div>

        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col" rowspan="2">#</th>
                    <th scope="col" rowspan="2">MongoDB ID</th>
                    <th scope="col" rowspan="2">Line</th>
                    <th scope="col" colspan="3">Vehicle positions</th>
                    <th scope="col" rowspan="2" id="admin_col">Admin options</th>
                </tr>
                <tr>
                    <th scope="col">Direction ID</th>
                    <th scope="col">Distance from point</th>
                    <th scope="col">Point ID</th>
                </tr>
            </thead>
            <tbody>
                <% mongoData.forEach((item, index) => { %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= item._id %></td>
                        <td><%= item.lineid %></td>
                        <td><%= item.directionId %></td>
                        <td><%= item.distanceFromPoint %></td>
                        <td><%= item.pointId %></td>
                        <td class="admin_options"><i class="fa-solid fa-pen-to-square" onclick="displayEditModal('<%= index + 1 %>','<%= item._id %>')"></i><i class="fa-solid fa-trash" onclick="deleteThisDataLine('<%= item._id %>')"></i></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <div class="general-buttons">
            <button type="button" class="btn btn-primary" onclick="displayInsertModal('Will be created')"><i class="fa-solid fa-plus"></i> Insert new data/row</button>
            <button type="button" class="btn btn-danger" onclick="deleteAllData()"><i class="fa-solid fa-trash"></i> Delete all data</button>
        </div>
    </main>

    <%- include ('../partials/footer') -%>
</body>

<!-- Modal -->
<div class="modal fade" id="editDataModal" tabindex="-1" role="dialog" aria-labelledby="editDataModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDataModalTitle">Edit the values</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-1">
                            <label for="index">#</label>
                            <input type="text" class="form-control" id="index" readonly>
                        </div>
                        <div class="form-group col">
                            <label for="edit_id">MongoDB ID</label>
                            <input type="text" class="form-control" id="edit_id" readonly>
                        </div>
                        <div class="form-group col">
                            <label for="edit_line">Line</label>
                            <input type="text" class="form-control" id="edit_line">
                        </div>
                        <div class="form-group col">
                            <label for="edit_direction">Direction ID</label>
                            <input type="text" class="form-control" id="edit_direction">
                        </div>
                        <div class="form-group col">
                            <label for="edit_distance">Distance from point</label>
                            <input type="text" class="form-control" id="edit_distance">
                        </div>
                        <div class="form-group col">
                            <label for="edit_point">Point ID</label>
                            <input type="text" class="form-control" id="edit_point">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" onclick="insertNewData()">Insert as new data</button>
                <button type="button" class="btn btn-primary" id="save_change_btn" onclick="saveChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>

</html>
